<div class="headRegister"> 
<div>
<%= link_to splash_path, class: "btn btn-primary" do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
</div>
<div>LOGIN</div>
<div>Next</div>
</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Enter your email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password" ,placeholder: "Enter your password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

 <div class="submit-button-container">
 <%= link_to 'Back', splash_path , class: "submit-button" %>
  <%= f.submit "Log in", class: "submit-button" %>
</div>
<% end %>

